/* commom style */
body {
    font-family: Tahoma, sans-serif;
    background-image: url("https://www.bing.com/th?id=OHR.CormorantMackerel_ROW1185541931_1920x1080.jpg&rf=LaDigue_1920x1080.jpg");
    background-position: center;
    background-size: cover;
}
/*  end commom style */