/* main style */

#main-container {
    height: calc(100vh - #{$bar_height * 3});
    // margin-top: 150px;
    // margin-left: 150px;
    #logo img {
        width: 120px;
        height: 70px;
        margin-left: 40px;
    }

    #search-bar {
        margin-left: 20px;
        margin-top: 40px;
        box-shadow: 0 2px 4px rgba(0,0,0,.3);
        border-radius: 6px;
        background-color: #fff;
        height: 52px;
        width: 600px;

        input {
            border: 0;
            outline: none;
            padding: 0 10px;
        }

        #lens-icon i,
        #picture-icon i {
            margin: 0 5px;
            cursor: pointer;
            color: $search_icon_color;
        }
    }

    #slider-info-commands {
        margin-bottom: 15px;

        span {
            display: inline-block;
            background-color: $dark_gray_traparent;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
        }

        #info {
            padding: 0 15px;
            vertical-align: super;
        }
    }
}
/* end main style */