// colors
$dark_gray: #333333;
$light_gray: #666666;
$dark_gray_traparent: rgba(38, 39, 40, 0.71);
$search_icon_color: #007DAA;
$cookie_bar_color: #D2E1F6; //
// spacing and sizes
$bar_height: 40px; //
// text font sizes